<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".DeviceInfoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".camera.CameraInfoKt"
            android:label="@string/title_activity_camera_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gps.ui.GPSInfoKt"
            android:label="@string/activity_title_gps_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wifi.NetworkInfoKt"
            android:label="@string/title_activity_network_info"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".display.DisplayInfoKt"
            android:label="@string/title_activity_display_info"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".battery.BatteryInfoKt"
            android:label="@string/title_activity_battery_info"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".storage.StorageInfoKt"
            android:label="@string/title_activity_storage_info"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".cpu.CPUInfoKt"
            android:label="@string/title_activity_cpu_info"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".export.ui.ExportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".cellular.CellularInfoKt"
            android:label="@string/title_activity_cellular_info"
            android:parentActivityName=".main.DeviceInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".main.DeviceInfoActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sensor.SensorInfoKt"
            android:label="@string/title_activity_sensor_list" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".config.BuildPropertiesActivityKt"
            android:label="@string/title_activity_build_properties"
            android:parentActivityName=".main.DeviceInfoActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9192035457575047~8525087939" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pacmac.devicediag.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>