<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pacmac.devinfo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".DeviceDiagApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".camera.CameraInfo"
            android:label="@string/title_activity_camera_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".gps.GPSInfo"
            android:label="@string/activity_title_gps_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wifi.NetworkInfo"
            android:label="@string/title_activity_network_info"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".display.DisplayInfo"
            android:label="@string/title_activity_display_info"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".battery.BatteryInfo"
            android:label="@string/title_activity_battery_info"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".storage.StorageInfo"
            android:label="@string/title_activity_storage_info"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".cpu.CPUInfo"
            android:label="@string/title_activity_cpu_info"
            android:theme="@style/MaterialAppTheme" />
        <activity android:name=".export.PromoActivity" />
        <activity
            android:name=".export.ExportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name=".cellular.CellularInfo"
            android:label="@string/title_activity_cellular_info"
            android:parentActivityName=".main.DiagMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".main.DiagMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sensor.SensorsInfo"
            android:label="@string/title_activity_sensor_list" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".config.BuildPropertiesActivity"
            android:label="@string/title_activity_build_properties"
            android:parentActivityName=".main.DiagMain">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".NewFeaturesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="com.tutelatechnologies.sdk.framework.TutelaSDKService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9192035457575047~8525087939" />

        <receiver
            android:name=".StartupReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pacmac.devicediag.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>